<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 maximum-scale=1"
    />
    <link rel="stylesheet" href="/styles/output.css" />
    <title>QR Code Generator</title>
    <link rel="icon" href="images/qrcode.svg" type="image/x-icon" />
  </head>
  <body>
    <nav class="flex border-b absolute w-full shadow-sm border-black/20 p-1">
      <a class="flex" href="/">
        <img src="/images/qrcode.svg" alt="" />
        <h1 class="font-sans font-bold text-xl text-gray-900" id="title">
          QR Code Generator
        </h1>
      </a>
    </nav>
    <div
      class="w-3/4 h-screen mx-auto flex flex-col flex-wrap justify-center content-center"
    >
      <div
        id="qrCodeType"
        class="inline-flex rounded-md shadow-sm"
        role="group"
      >
        <button
          id="textButton"
          type="button"
          class="inline-flex items-center justify-center px-4 py-2 basis-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="textButtonIcon"
            class="mr-1 icon icon-tabler icon-tabler-forms"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 3a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3" />
            <path d="M6 3a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3" />
            <path d="M13 7h7a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-7" />
            <path d="M5 7h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1" />
            <path d="M17 12h.01" />
            <path d="M13 12h.01" />
          </svg>
          URL/Text
        </button>

        <button
          id="wifiButton"
          type="button"
          class="inline-flex items-center justify-center px-4 py-2 basis-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="wifiButtonIcon"
            class="mr-1 icon icon-tabler icon-tabler-wifi"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 18l.01 0" />
            <path d="M9.172 15.172a4 4 0 0 1 5.656 0" />
            <path d="M6.343 12.343a8 8 0 0 1 11.314 0" />
            <path d="M3.515 9.515c4.686 -4.687 12.284 -4.687 17 0" />
          </svg>
          Wi-Fi
        </button>
      </div>

      <div
        class="w-[350px] h-[350px] border-4 shadow-md border-gray-300 rounded-md my-2"
        id="imagePlaceholder"
      >
        <a href="<%= locals.qrCode %>">
          <img
            class=""
            src="<%= locals.qrCode %>"
            alt=""
            id="qrImage"
            title="<%= locals.qrCodeContent %>"
            onerror="this.style.display='none'"
        /></a>
      </div>

      <form id="textForm" <% if (locals.returning) {%>
        class="hidden" <% }else {}%> action="/generate" method="post">
        <div class="" id="formContainer">
          <input
            class="block w-full h-7 p-4 mb-2 shadow-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500"
            id="qrCodeInput"
            type="text"
            name="qrCodeURL"
            placeholder="QR Code Content"
            maxlength="899"
            autofocus
            value="<%= locals.qrCodeContent %>"
          />
          <div class="inline-flex rounded-md shadow-sm w-full" role="group">
            <button
              class="inline-block px-4 py-2 basis-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
              id="textGenerateButton"
              type="submit"
              name="qrCodeGen"
              disabled
            >
              Generate
            </button>

            <button
              class="inline-block px-4 py-2 basis-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
              id="textDownloadButton"
              name="downloadButton"
              type="button"
              disabled
            >
              Download
            </button>
          </div>
        </div>
      </form>
      <form id="wifiForm" <% if (locals.returning) {%>
        class="" <% }else{ %> class="hidden" <% } %> action="/generatewifi"
        method="post">
        <div class="" id="formContainer">
          <input
            class="block w-full h-7 p-4 mb-2 shadow-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500"
            id="wifiNetworkName"
            type="text"
            name="wifiNetworkName"
            placeholder="Network Name(SSID)"
            maxlength="899"
            autofocus
            value="<%= locals.netWorkName %>"
          />
          <input
            class="block w-full h-7 p-4 mb-2 shadow-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500"
            id="wifiPassowrd"
            type="text"
            name="wifiPassowrd"
            placeholder="Password"
            maxlength="899"
            autofocus
            value="<%= locals.password %>"
          />
          <div class="flex mb-2">
            <div class="flex items-center me-4">
              <input
                id="inline-radio"
                type="radio"
                value="nopass"
                name="encryption"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              />
              <label
                for="inline-radio"
                class="ms-2 text-sm font-medium text-gray-900"
                >None</label
              >
            </div>
            <div class="flex items-center me-4">
              <input
                checked
                id="inline-2-radio"
                type="radio"
                value="WPA"
                name="encryption"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              />
              <label
                for="inline-2-radio"
                class="ms-2 text-sm font-medium text-gray-900"
                >WPA/WPA2</label
              >
            </div>
            <div class="flex items-center me-4">
              <input
                id="inline-checked-radio"
                type="radio"
                value="WEP"
                name="encryption"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              />
              <label
                for="inline-checked-radio"
                class="ms-2 text-sm font-medium text-gray-900"
                >WEP</label
              >
            </div>
          </div>
          <div class="inline-flex rounded-md shadow-sm w-full" role="group">
            <button
              class="inline-block px-4 py-2 basis-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
              id="wifiGenerateButton"
              type="submit"
              name="qrCodeGen"
              disabled
            >
              Generate
            </button>
            <button
              class="inline-block px-4 py-2 basis-1/2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
              id="wifiDownloadButton"
              name="downloadButton"
              type="button"
              disabled
            >
              Download
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="scripts/script.js"></script>
  </body>
</html>
